
    <header>
        <h3>Dragă Georgiana și Dragoș,</h3>
    </header>
    <main>
        <p>
            Fiecare început trebuie să aibă și un sfârșit și iată că ne găsim la finalul școlii de vară.
            Nu știu exact când veți primi această scrisoare însă nu este un detaliu atât de relevant, luand
            în considerare conținutul. O să încep prin a vă mulțumi pentru suportul, îndrumarea și cunoștiințele
            care mi-au fost oferite în cadrul acestor două luni.
        </p>
        <p>
            Mă cunosc vecini toți tu nu mă cunoști.
            Un luceu important este sa nu copii din intrebare, ci din răspuns.
        </p>

        <p>
            Acesta a fost primul meu contact cu un mediu profesional, respectiv un loc de muncă impresionat.
            Piese la puzzle.
            Probabil voi uita sa imi iau mancare joia, doar e zi de comanda, nu?
            Mi-a facut placere sa stau intr-un birou cu atâtea persoane minunate

        </p>
        <p>
            I have learned so much from you, not only about [specific areas of learning], but also about the importance of mentorship and the value it brings to one's life. Your willingness to share your expertise and provide guidance has been instrumental in my journey towards achieving my goals.
        </p>
        <p>
            I look forward to continuing our mentorship and continuing to learn from your vast experience. Your mentorship means the world to me, and I am excited about the opportunities that lie ahead.
        </p>
        <p>
            Timpul a trecut repede, nu o să vă mint. La fel cum trece când ai o eroare și parcă trei ore devin 30 de minute. A fost o perioadă frumoasă pentru mine, care m-a motivat ca în continuare să profit de orice oportunitate.
            Sper ca ardei să crească și să aibe mai multe flori, poate la anul culegeti si prima recolta. Nu stiu care va fii viitorul după ce termin facultatea, sau daca ma voi intoarce aici însă
            Thank you once again for your unwavering support and for being an incredible mentor. I am truly grateful to have you by my side.
        </p>
        <p>

        </p>
    </main>
    <footer>
        Cu sinceritate,
        Miruna.
    </footer>
